# sft mumble bot example config file

[mumble]
server=mumble.example.com
; mumble default port
port=64738
nickname=sftbot
channel=testchannel
password=hunter2
; for production use, I'd recommend 1 or 2
loglevel=3
; leave these empty if you don't want to use a certificate
; you can generate these files using openssl req -nodes -x509 -newkey rsa:2048 -days 7300 -keyout key_filename -out cert_filename
certfile=cert_filename
keyfile=key_filename

[irc]
server=irc.example.com
; irc default port
port=6667
nickname=sftbot
channel=myawesomebotchannel
; possibilities: {none, channelkey, nickserv, pass}
authtype=none
; will be ignored if authtype == none
password=hunter2
encoding=utf-8
; for production use, I'd recommend 1 or 2
loglevel=3
